@use '../abstract/color_variables' as colors;

:root {
    --clr-board-header-bg: #{colors.$dark_gray};
    --pd-board-header: 0;

    --clr-primary-button-bg: #{colors.$dark_green};
    --clr-primary-button-txt: #{colors.$white};
    --clr-primary-button-border: 1px solid #{colors.$cyan};
    --clr-primary-button-border-hover: 2px solid #{colors.$cyan};
    --rad-primary-button: 0;
    --pd-primary-button-border: 16px 24px;
    --clr-primary-button-shadow: 4px 4px 4px #{colors.$dark_green};
    --marg-primary-button-exit-game: 100px;
}

.button{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    
    &__primary{
        background-color: var(--clr-primary-button-bg);
        color: var(--clr-primary-button-txt);
        border: var(--clr-primary-button-border);
        border-radius: var(--rad-primary-button);
        padding: var(--pd-primary-button-border);
        font-size: 1.5rem;
        gap: 10px;
        outline: 2px solid transparent;
        outline-offset: 0;
        
        &:hover{
            outline: var(--clr-primary-button-border-hover);
            box-shadow: var(--clr-primary-button-shadow);
        }

        &--exit-game{
            margin-left: var(--marg-primary-button-exit-game);
        }
    }
    
    &__secondary{
        background-color: colors.$yellow;
        color: colors.$dark_gray;
        border:none;
        
        &--play_game{
            padding: 24px;
            font-size: 2.5rem;
            margin: 0 auto;
            gap: 20px;
            transition: transform 0.2s ease-in-out;
        }
        &--play_game:hover{
            transform: scale(1.05);
        }

        &--arrow_container{
            position: relative;
            display: flex;
            align-items: center;
            aspect-ratio: 1 / 1;
            width: 40px;
        }
        &--arrow_icon_default, &--arrow_icon_hover{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            
        }
        &--arrow_icon_default{
            opacity: 1;
            transition: opacity 0.1s ease-out 0.2s;
        }
        &--arrow_icon_hover{
            opacity: 0;
            transition: opacity 0.1s ease-in 0s;
        }
        &:hover &--arrow_icon_default{
            opacity: 0;
            transition-delay: 0s;
        }
        &:hover &--arrow_icon_hover{
            opacity: 1;
            transition-delay: 0.2s;
        }
        &--controller_icon{
            transition: transform 0.2s ease-in-out;
        }
        &:hover &--controller_icon{
            transition: transform 0.2s ease-in-out;
            transform: rotate(-30deg);
        }
        &--start_game{
            padding: 14px 20px;
            font-size: 1.25rem;
            gap: 10px;
            transition: transform 0.2s ease-in-out;
        }

        &--start_game:hover{
            transition: transform 0.2s ease-in-out;
            transform: scale(1.2);
        }

        &--start_game:disabled{
            background-color: colors.$light_gray;
            color: colors.$dark_gray;
            cursor: not-allowed;
            box-shadow: none;
        }

        &--start_game:disabled:hover{
            transform: none;
        }
    }

    &__dialog{
        color: colors.$white;
        padding: 16px 24px;
        font-size: 1.25rem;
        border: 2px solid colors.$cyan;
        
        &--back-button{
            background-color: colors.$cyan;
            color: colors.$white;

            &:hover{
                box-shadow: 4px 4px 4px colors.$hover_cyan;
                background-color: colors.$hover_cyan;
            }
        }

        &--exit-button{
            background-color: colors.$light_cyan;
            color: colors.$cyan;

            &:hover{
                box-shadow: 4px 4px 4px colors.$hover_cyan;
                background-color: colors.$hover_cyan;
            }
        }
    }
}