@use '../abstract/color_variables' as colors;

.card{
    height: 120px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    padding: 0;
    
    &__inner{
        position: relative;
        width: 120px;
        height: 120px;
        transform-style: preserve-3d;
        transition: all 0.5s ease-in-out;
    }

    &__face{
        position: absolute;
        inset: 0;
        background-color: transparent;
        backface-visibility: hidden;

        &--front{
            background-color: colors.$white;
        }

        &--back{
            background-color: colors.$dark_green;
            transform: rotateY(180deg);
        }
    }
    
    &.is-flipped .card__inner{
        transform: rotateY(180deg);
    }
}