@use '../abstract/color_variables' as colors;

:root {
    --card-width: 120px;
    --rad-is-matched: 0;
    --clr-is-matched-shadow: #{colors.$light_cyan};
    --is-matched-border: inset 0 0 0 5px #{colors.$cyan};
}

.card{
    // height: 120px;
    // aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    
    &__inner{
        position: relative;
        width: var(--card-width);
        height: 120px;
        transform-style: preserve-3d;
        transition: all 0.5s ease-in-out;
    }

    &__face{
        position: absolute;
        inset: 0;
        background-color: transparent;
        backface-visibility: hidden;

        &--front{
            background-color: transparent;
        }

        &--back{
            background-color: transparent;
            transform: rotateY(180deg);
        }
    }
    
    &.is-flipped .card__inner{
        transform: rotateY(180deg);
    }

    &.is-matched .card__inner{
        position: relative;
        cursor: default;
        box-shadow: -6px 6px 8px var(--clr-is-matched-shadow);
        border-radius: var(--rad-is-matched);
    }

    &.is-matched .card__inner::after{
        content: "";
        position: absolute;
        inset: 0;
        box-shadow: var(--is-matched-border);
        border-radius: var(--rad-is-matched);
    }
}