@use '../abstract/color_variables' as colors;

:root{
    --clr-dialog-bg: #{colors.$white};
    --rad-dialog-bdr: 0;
}

.exit-game-dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: none;
    border-radius: var(--rad-dialog-bdr);
    gap: 54px;
    background-color: var(--clr-dialog-bg);
    max-width: 460px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-60vh);
    transition: all 0.3s ease-in-out;

    &__question{
        font-size: 2rem;
        margin: 0;
    }

    &__button-section{
        display: flex;
        gap: 24px;
    }

    &__button-section a{
        text-decoration: none;
    }
}

.exit-game-dialog.is-visible{
    opacity: 1;
    transform: translateY(0);
}