$cyan: #4DD5BC;
$hover_cyan: #c8eae4;
$light_cyan: rgba(77, 213, 188, 0.3);
$blue: #2BB1FF;
$dark_blue: #097FC5;
$orange: #F58E39;
$dark_orange: #EA6900;
$yellow: #F0EA6E;
$dark_green: #415652;
$light_gray:#F6F6F6;
$dark_gray: #303131;
$white: #FFFFFF;
$petrol: #294F60;
$transparent_pink: rgba(253, 150, 201, 0.2);
$transparent_pink_2: rgba(237, 27, 118, 0.08);
$pink: #E71C4F;
$transparent: transparent;