@use '../abstract/color_variables' as colors;

:root {
    --font-family: 'Red Rose Regular', 'Times New Roman', Times, serif;
    --show-code-vibes-theme-element: block;
    --show-gaming-theme-element: none;

    --clr-board-header-bg: #{colors.$dark_gray};
    --pd-board-header: 0;

    --clr-score-board-bg: #{colors.$dark_green};
    --clr-score-board-txt-blue: #{colors.$blue};
    --clr-score-board-txt-orange: #{colors.$orange};
    --rad-score-board: 0;
    --show-display-title: block;
}

.gaming-theme{
    &__element{
        display: var(--show-gaming-theme-element);
    }
}

.code-vibes-theme{
    &__element{
        display: var(--show-code-vibes-theme-element);
    }
}


.game-board-wrapper{
    display: flex;
    flex-direction: column;
    gap: 54px;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
    &__game_board{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}

.game-board-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--clr-board-header-bg);
    padding: var(--pd-board-header);
    box-sizing: border-box;
    border-radius: 10px;
}
    
.score-board{
    display: flex;
    gap: 20px;
    padding: 16px 20px;
    background-color: var(--clr-score-board-bg);
    border-radius: var(--rad-score-board);
    
    &__item{
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: var(--font-family);
        font-size: 1.5rem;
        
        &--blue{
            color: var(--clr-score-board-txt-blue);
        }
        
        &--orange{
            color: var(--clr-score-board-txt-orange);
        }

        &--display-title{
            display: var(--show-display-title);
        }
    }
}

.next-turn{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-family);
    font-size: 2rem;
    
    &__player{
        color: colors.$white;
    }
    
    &__current-player-blue{
        display: flex;
    }
    
    &__current-player-orange{
        display: none;
    }
}

.field{
    display: grid;
    cursor: pointer;
    grid-auto-rows: 120px;
    gap: 16px;

    &__16-cards{
        grid-template-columns: repeat(4, 120px);
    }

    &__24-cards, &__36-cards{
        grid-template-columns: repeat(6, 120px);
    }
}