@use '../abstract/color_variables' as colors;

:root{
    --clr-h1-game-over: #{colors.$cyan};
    --font-size-game-over-headline: 180px;
    --txt-shadow-game-over-headline: 
        -1px -1px 0 #{colors.$white},
        -2px -2px 0 #{colors.$white},
        -3px -3px 0 #{colors.$light_cyan},
        -4px -3px 0 #{colors.$light_cyan},
        -5px -3px 0 #{colors.$light_cyan},
        -6px -3px 0 #{colors.$light_cyan};
    --ltr-spacing-game-over-headline: 0;
}

.game-over-headline{
    font-family: var(--font-family-headline);
    font-size: var(--font-size-game-over-headline);
    color: var(--clr-h1-game-over);
    margin: 0;
    text-shadow: var(--txt-shadow-game-over-headline);
    letter-spacing: var(--ltr-spacing-game-over-headline);
}

.final-score-text{
    font-family: var(--font-family);
    font-size: 26px;
    color: colors.$white;
    margin: 0;
}

.game-over-score-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 124px;
}