@use '../abstract/color_variables' as colors;


.content-wrapper{
    &__background_color{
        background-color: colors.$white;
    }
    
    &--align_headline{
        align-items: flex-start;
    }
}

.settings-wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: calc(62px - 12px);
}

.headline{
    position: relative;
    
    & h2{
        font-size: 54px;
        font-family: 'Red Rose Bold', 'Times New Roman', Times, serif;
        color: colors.$dark_gray;
        margin: 0px 0 12px 24px;
        text-align: left;
    }
        
    &__yellow_line_icon{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.settings-container{
    display: flex;
    flex-direction: row;
    width: 100%;

    &__options{
        display: flex;
        flex-direction: column;
        gap: 54px;

        &--left{
            width: 40%;
        }
        &--right{
            width: 60%;
        }
    }

    &__preview{
        display: flex;
        align-items: flex-end;

        &--theme_1_image, &--theme_2_image{
            width: 100%;
            max-width: 460px;
            height: auto;
        }
    }
}

.options-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    padding: 0 24px;
    font-family: 'Almarai Regular', sans-serif;

    &__headline-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 3px;
        gap: 12px;

        img{
            width: 32px;
            height: 32px;
        }

        h3{
            font-size: 24px;
            color: colors.$dark_gray;
            margin: 0;
        }
    }

    &__element{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 46px;
        gap: 10px;

        & img{
            width: 40px;
            height: 20px;
            opacity: 0;
        }

        &--active_option_icon img{
            opacity: 1;
        }
    }
    
}

.selection-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: colors.$light_gray;
    padding: 14px 20px;
    
    & p{
        font-family: 'Almarai Regular', sans-serif;
        font-size: 20px;
        color: colors.$dark_gray;
        margin: 0;
    }
}

.input-wrapper{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.radio-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 20px;
}

.box-shadow-radio {
    appearance: none;
    margin: 0;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    padding: 1px;
    font-size: 20px;

    border: 0.15em solid #FFF;
    box-shadow: 0 0 0 0.15em colors.$dark_gray;
    
    display: grid;
    place-content: center;
}

.box-shadow-radio:checked {
    width: 0.8em;
    height: 0.8em;
    box-shadow: 0 0 0 0.1em colors.$dark_gray;
    padding: 0;
}

.box-shadow-radio::before {
    content: "";
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;

    box-shadow: inset 1em 1em colors.$dark_gray;

    background-color: CanvasText;
}

.box-shadow-radio:checked::before {
    transform: scale(1);
}
