@use '../abstract/color_variables' as colors;


.content-wrapper{
    &__background_color{
        background-color: colors.$white;
    }
    
    &--align_headline{
        align-items: flex-start;
    }
}

.settings-wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: calc(62px - 12px);
}

.headline{
    position: relative;
    
    & h2{
        font-size: 54px;
        font-family: 'Red Rose Bold', 'Times New Roman', Times, serif;
        color: colors.$dark_gray;
        margin: 0px 0 12px 24px;
        text-align: left;
    }
        
    &__yellow_line_icon{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.settings-container{
    display: flex;
    flex-direction: row;
    width: 100%;

    &__options{
        display: flex;
        flex-direction: column;
        gap: 54px;

        &--left{
            width: 40%;
        }
        &--right{
            width: 60%;
        }
    }

    &__preview{
        display: flex;
        align-items: flex-end;

        &--theme_1_image, &--theme_2_image{
            width: 100%;
            max-width: 460px;
            height: auto;
        }
    }
}

.options-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    padding: 0 24px;
    font-family: 'Almarai Regular', sans-serif;

    &__headline-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 3px;
        gap: 12px;

        img{
            width: 32px;
            height: 32px;
        }

        h3{
            font-size: 24px;
            color: colors.$dark_gray;
            margin: 0;
        }
    }

    &__element{
        display: flex;
        flex-direction: row;
        margin-left: 46px;
        gap: 10px;

        &--active_option_icon{
            width: 40px;
            height: 20px;
            opacity: 1;
        }
    }

}

.selection-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: colors.$light_gray;
    padding: 14px 20px;

    & p{
        font-family: 'Almarai Regular', sans-serif;
        font-size: 20px;
        color: colors.$dark_gray;
        margin: 0;
    }

    &__yellow_slash_line_icon{
        // width: 56px;
        // height: 56px;
    }
}

.button-section-settings{
    
}