@use '../abstract/color_variables' as colors;

h1{
    font-size: 140px;
    font-family: 'Red Rose Bold', sans-serif;
    color: colors.$white;
    margin: 0;
}

.text{
    margin: 0 auto 85px auto;

    &__motivation{
        font-size: 48px;
        font-family: 'Almarai Regular', sans-serif;
        color: colors.$white;
        margin: 0px;
        text-align: left;
    }
}

.button-section-start{
    height: 120px;
}

.content-wrapper{
    &__position{
        position: relative;

        &--logo_icon{
            position: absolute;
            bottom: 80px;
            left: -10px;
            transform: rotate(37deg);
            width: 420px;
            height: 300px;
        }
        &--logo_icon svg path{
            fill: colors.$yellow;
            fill-opacity: 0.05;
        }
    }
}