@use '../abstract/color_variables' as colors;

:root{
    --font-size-winner-name: 3.75rem;
    --font-size-winner-text: 2.5rem;
}

.confetti-image{
    width: 100%;
    max-width: 1200px;
    display: var(--hide-element);
}

.winner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
    
    &__winner-text{
        color: colors.$white;
        font-size: var(--font-size-winner-text);
        margin: 0;
    }

    &__winner-name{
        color: colors.$white;
        font-family: var(--font-family-headline);
        font-size: var(--font-size-winner-name);
        margin: 0;

        &--winner-orange{
            color: colors.$orange;
        }
    
        &--winner-blue{
            color: colors.$blue;
        }
    }

    &__winner-svg{
        margin: 64px 0;
        
        &--orange-player svg path{
            fill: colors.$orange;
        }

        &--blue-player svg path{
            fill: colors.$blue;
        }
    }
}

.back-to-start-link{
    text-decoration: none;
}