@use '../abstract/color_variables' as colors;

:root:has(.code-vibes-theme) {
    --clr-body-bg: #{colors.$dark_gray};
    --font-family: 'Red Rose Regular', 'Times New Roman', Times, serif;

    --clr-board-header-bg: #{colors.$dark_gray};
    --pd-board-header: 0;

    --clr-score-board-bg: #{colors.$dark_green};
    --clr-score-board-txt-blue: #{colors.$blue};
    --clr-score-board-txt-orange: #{colors.$orange};
    --rad-score-board: 0;
    --pd-score-board: 16px 20px;
    --font-size-score-board: 1.5rem;
    --hide-element: block;

    --clr-player-blue-bg: none;
    --clr-player-orange-bg: none;

    --clr-primary-button-bg: #{colors.$dark_green};
    --clr-primary-button-border: 1px solid #{colors.$cyan};
    --clr-primary-button-border-hover: 2px solid #{colors.$cyan};
    --rad-primary-button: 0;
    --pd-primary-button-border: 16px 24px;
    --clr-primary-button-shadow: 4px 4px 4px #{colors.$dark_green};
    --marg-primary-button-exit-game: 100px;

    --grid-column-width: 120px;
    --grid-row-height: 120px;
    --card-width: 120px;
    --rad-is-matched: 0;
    --clr-is-matched-shadow: #{colors.$light_cyan};
    --is-matched-border: inset 0 0 0 5px #{colors.$cyan};

    --clr-dialog-button-shadow-hover: 4px 4px 4px #{colors.$hover_cyan};
    --clr-dialog-bg: #{colors.$white};
    --rad-dialog-bdr: 0;
    --clr-dialog-btn-bdr: 2px solid #{colors.$cyan};
    --rad-dialog-btn: 0;
    --clr-dialog-back-btn-bg: #{colors.$cyan};
    --clr-dialog-exit-btn-bg: #{colors.$light_cyan};
    --clr-dialog-exit-btn-txt: #{colors.$cyan};
    --pd-dialog-btn: 16px 24px;
    --clr-dialog-back-btn-bg-hover: #{colors.$hover_cyan};
    --clr-dialog-exit-btn-bg-hover: #{colors.$hover_cyan};
    --clr-dialog-back-btn-txt-hover: #{colors.$cyan};
    --clr-dialog-exit-btn-txt-hover: #{colors.$cyan};

    --clr-h1-game-over: #{colors.$cyan};
    --font-family-headline: 'Red Rose Bold', 'Times New Roman', Times, serif;
    --font-size-game-over-headline: 180px;
    --txt-shadow-game-over-headline: 
        -1px -1px 0 #{colors.$white},
        -2px -2px 0 #{colors.$white},
        -3px -3px 0 #{colors.$light_cyan},
        -4px -3px 0 #{colors.$light_cyan},
        -5px -3px 0 #{colors.$light_cyan},
        -6px -3px 0 #{colors.$light_cyan};
    --ltr-spacing-game-over-headline: 0;
    --font-size-game-over-score: 24px;
    --size-icon-game-over-score-board: 24px;
}