@use '../abstract/color_variables' as colors;

:root:has(.gaming-theme) {
    --clr-body-bg: #{colors.$petrol};
    --font-family: 'Orbitron Bold', 'Times New Roman', Times, serif;

    --clr-board-header-bg: #{colors.$transparent_pink};
    --pd-board-header: 24px;

    --clr-score-board-bg: #{colors.$white};
    --clr-score-board-txt-blue: #{colors.$dark_blue};
    --clr-score-board-txt-orange: #{colors.$dark_orange};
    --rad-score-board: 10px;
    --hide-element: none;

    --clr-player-blue-bg: #{colors.$dark_blue};
    --clr-player-orange-bg: #{colors.$dark_orange};

    --clr-primary-button-bg: #{colors.$transparent};
    --clr-primary-button-border: 2px solid #{colors.$pink};
    --clr-primary-button-border-hover: 2px solid #{colors.$pink};
    --rad-primary-button: 10px;
    --pd-primary-button-border: 14px 20px;
    --clr-primary-button-shadow: 4px 4px 4px #{colors.$petrol};
    --marg-primary-button-exit-game: 0;

    --grid-column-width: 105px;
    --grid-row-height: 120px;
    --card-width: 105px;
    --rad-is-matched: 12px;
    --clr-is-matched-shadow: #{colors.$transparent_pink};
    --is-matched-border: inset 0 0 0 3px #{colors.$pink};
}