@use '../abstract/color_variables' as colors;

:root:has(.gaming-theme) {
    --clr-body-bg: #{colors.$petrol};
    --font-family: 'Orbitron Bold', 'Times New Roman', Times, serif;

    --clr-board-header-bg: #{colors.$transparent_pink};
    --pd-board-header: 24px;

    --clr-score-board-bg: #{colors.$white};
    --clr-score-board-txt-blue: #{colors.$dark_blue};
    --clr-score-board-txt-orange: #{colors.$dark_orange};
    --rad-score-board: 10px;
    --show-display-title: none;
}