@font-face {
    font-family: 'Almarai Regular';
    src: url(../../assets/fonts/Almarai-Regular.ttf);
}
@font-face {
    font-family: 'Almarai Bold';
    src: url(../../assets/fonts/Almarai-Bold.ttf);
}
@font-face{
    font-family: 'Red Rose Regular';
    src: url(../../assets/fonts/RedRose-Regular.ttf);
}
@font-face{
    font-family: 'Red Rose Bold';
    src: url(../../assets/fonts/RedRose-Bold.ttf);
}