@font-face {
    font-family: Almarai_Regular;
    src: url(../../assets/fonts/Almarai-Regular.ttf);
}
@font-face {
    font-family: Almarai_Bold;
    src: url(../../assets/fonts/Almarai-Bold.ttf);
}
@font-face{
    font-family: Red_Rose_Regular;
    src: url(../../assets/fonts/RedRose-Regular.ttf);
}
@font-face{
    font-family: Red_Rose_Bold;
    src: url(../../assets/fonts/RedRose-Bold.ttf);
}